.hentry
  %h2.entry-title= link_to h(@page.title), @page
  - if @page.subtitle
    .subtitle=h @page.subtitle
    %br.clear
  .entry-content
    = markdown @page.body
    %ul.meta
      %li
        = t('meta.meta')
        = link_to t('meta.permalink'), @page
      %li
        %abbr{ :title => l(@page.created_at) }
          = t('meta.published')
          = time_ago_sentance(@page.created_at)
        - if @page.modified_since_created?
          %br
          %abbr{ :title => l(@page.updated_at) }
            = t('meta.updated')
            = time_ago_sentance(@page.updated_at)
