- post = line_post

%li
  = link_to h(post.title), post
  par
  = link_to h(post.author.name), archives_by_author_path(post.author)
  dans
  = link_to h(post.category.display_name), archives_by_category_path(post.category)
  %abbr{ :title => l(post.published_at) }
    il y a
    = time_ago_in_words(post.published_at)
  \/
  - post.tags.each do |tag|
    = link_to h(tag.name), archives_by_tag_path(tag.name)
