- if post.published
  .hentry{ :id => "post-#{post.id}" }
    %h2{ :class => 'entry-title' }
      =link_to h(post.title), post
    .vcard
      Posté par
      %span{ :class => 'fn' }
        = link_to h(post.author.name), :action => :archives_by_author, :id => post.author
    %abbr{ :class => 'published', :title => post.created_at }= post.created_at
    %br{ :class => 'clear' }
    .entry-content
      =markdown post.intro
      - if post.body
        .extended
          - if controller.action_name == 'index'
            = link_to 'Lire la suite...', post
          - else
            = markdown post.body
    %ul{ :class => 'meta' }
      %li{ :class => 'categories' }
        catégorie:
        = link_to h(post.category.name), :action => :archives_by_category, :id => post.category
      %li{ :class => 'tags' }
        tags:
        - post.tags.each do |tag|
          =link_to h(tag.display_name), :action => :archives_by_tag, :id => tag
      %li
        = link_to "#{(c = post.comments.count).zero? ? 'aucun' : c} commentaire(s)", :action => :show, :id => post, :anchor => :comments
        \-
        %a{ :href => 'TODO' } rss/atom TODO
