.hentry{ :id => "post-#{post.id}" }
  %h2.entry-title= link_to h(post.title), post
  .author
    Posté par
    %span.author-name
      = link_to h(post.author.name), archives_by_author_path(post.author)
  %abbr.published{ :title => l(post.created_at) }
    il y a
    = time_ago_in_words(post.created_at)
  %br.clear
  .entry-content
    =markdown post.intro
    - if post.body
      - if controller.action_name == 'index'
        .more= link_to 'Lire la suite...', post
      - else
        .extended= markdown post.body
  - unless controller.action_name == 'index'
    %ul.meta
      %li.categories
        Catégorie:
        = link_to h(post.category.display_name), archives_by_category_path(post.category)
      %li.tags
        Mots-clefs:
        - post.tags.each do |tag|
          =link_to h(tag.name), archives_by_tag_path(tag.name)
      %li
        Meta:
        = link_to "#{(c = post.comments.count).zero? ? 'aucun' : c} commentaire#{'s' if post.comments.count > 1}", :action => :show, :id => post, :anchor => :comments
        \-
        = link_to 'flux Atom', post_path(post, :atom)
        \-
        = link_to 'Lien permanent', post
