.hentry{ :id => "post-#{post.id}" }
  %h2.entry-title= link_to h(post.title), post
  .subtitle
    = t('posts.published_by')
    %span.author-name
      = link_to h(post.author.name), archives_by_author_path(post.author)
  %abbr.published{ :title => l(post.published_at_or_now) }
    = time_ago_sentance(post.published_at_or_now)
  %br.clear
  .entry-content
    =markdown post.intro
    - if post.body
      - if controller.action_name == 'index'
        .more= link_to t('posts.read_more') + '...', post
      - else
        .extended= markdown post.body
  - unless controller.action_name == 'index'
    %ul.meta
      %li.categories
        = t('meta.category')
        = link_to h(post.category.display_name), archives_by_category_path(post.category)
      %li.tags
        = t('meta.tags')
        - post.tags.each do |tag|
          =link_to h(tag.name), archives_by_tag_path(tag.name)
      %li
        = t('meta.meta')
        = comments_count_to_words(post.comments.count)
        \-
        = link_to t('meta.atom'), post_path(post, :atom)
        \-
        = link_to t('meta.permalink'), post
