- post = post_meta

#meta
  %p{ :class => 'tags' }
    Tags:
    - post.tags.each do |tag|
      =link_to h(tag.display_name), :action => :archives_by_tag, :id => tag
  %p{ :class => 'author' }
    Publié dans la catégorie
    %strong= link_to h(post.category.name), :action => :archives_by_category, :id => post.category
    par
    %em= link_to h(post.author.name), :action => :archives_by_author, :id => post.author
    le
    = h(post.created_at)
  %p{ :class => 'links' }
    = link_to 'Lien permanent', post_meta
    = link_to 'TODO Commentaire(s)', post_meta
