= render :partial => @post

%h5
  %a{ :name => 'comments' }
    = @post.comments.count
    - if @post.comments.count > 1
      Commentaires:
    - else
      Commentaire:
    %em=h @post.title
%p
  %a{ :href => '#new_comment' } Écrire un commentaire

#comment_div
  %ol{ :id => 'comments', :class => 'comments' }
    - if @post.comments.any?
      - @post.comments.each do |comment|
        = render :partial => comment
    - else
      %li{ :class => 'dummy_comment', :style => 'display:none' }
        Aucun commentaires.

%a{ :name => 'new_comment' }
- remote_form_for [@post, Comment.new] do |f|
  #preview{ :style => 'display:none' }
  %fieldset
    %legend Écrire un commentaire
    %p{ :id => 'flash-notice' }= flash[:notice]
    %p{ :id => 'flash-error'  }= flash[:error]
    %p
      = f.label :author, 'nom:'
      %br
      = f.text_field :author
    %p
      = f.label :email, 'email:'
      %br
      = f.text_field :email
    %p
      = f.label :url, 'URL:'
      %br
      = f.text_field :url, :value => 'http://'
    %p
      = f.label :body, 'commentaire:'
      %br
      = f.text_area :body
    %p
      = f.submit 'Ajouter!'
      = image_tag '/images/theme/spinner.gif', :id => 'spinner', :style => 'display:none'
