= render :partial => 'shared/gravatar', :locals => {:author => @post.author}
= render :partial => @post

%h5
  %a{ :name => 'comments' }
  = comments_count(@post.comments.count)

%p
  %a{ :href => '#new_comment' }= t('comments.write_a_comment')

#comment_div
  %ol#comments.comments
    = render :partial => 'comments/comment', :collection => @post.comments

%a{ :name => 'new_comment' }
- remote_form_for [@post, @comment] do |f|
  %fieldset
    %legend= t('comments.write_a_comment').capitalize + ':'
    %p#flash-notice= flash[:notice]
    %p#flash-error=  flash[:error]
    - if flash[:error].blank? and flash[:comment] # display errors.
      %div
        = error_messages_for 'comment'
    #preview{ :style => 'display:none;' }
      %h3= t('comments.preview')
      %ul
        %li#preview-comment
    %p
      = f.label :name, t('comments.name')
      %br
      = f.text_field :name
    %p
      = f.label :email, t('comments.email')
      (#{t 'comments.used_for_gravatar_wont_be_displayed'})
      %br
      = f.text_field :email
    %p
      = f.label :url, t('comments.url')
      %br
      = f.text_field :url, :value => 'http://'
    %p
      = f.label :body, t('comments.comment')
      %br
      - mkduri = 'http://daringfireball.net/projects/markdown/syntax'
      = t('comments.you_can_use_the_foo_syntax_markup', :markup => link_to('markdown', mkduri))
      = f.text_area :body
    %p#js-preview{ :style => 'display:none;' }
      = label :option, :preview, t('comments.preview')
      %br
      = check_box :option, :preview
    %p#recaptcha
      = render :partial => 'shared/recaptcha'
    %p
      = f.submit t('comments.submit'), :onclick => '$("spinner").style.display = "block";'
      = image_tag '/images/theme/spinner.gif', :id => 'spinner', :style => 'display:none;'

%script{ :type => 'text/javascript' }
  \//<![CDATA[
  // preview works only with JS
  window.onload = js_preview_show;
  function js_preview_show() { $("js-preview").style.display = "block"; }
  \//]]>
