= render :partial => @post

%h5
  %a{ :name => 'comments' }
    = @post.comments.count
    - if @post.comments.count > 1
      Commentaires:
    - else
      Commentaire:
    %em=h @post.title
%p
  %a{ :href => '#new_comment' } Écrire un commentaire

#comment_div
  %ol#comments.comments
    - if @post.comments.any?
      - @post.comments.each do |comment|
        = render :partial => comment
    - else
      %li.dummy_comment{ :style => 'display:none' }
        Aucun commentaires.

%a{ :name => 'new_comment' }
- remote_form_for [@post, @comment] do |f|
  %fieldset
    %legend Écrire un commentaire
    %p#flash-notice= flash[:notice]
    %p#flash-error=  flash[:error]
    #preview{ :style => 'display:none;' }
      %h3 Prévisualisation
      %ul
        %li#preview-comment
    %p
      les champs avec une étoile rouge (
      %span{ :style => 'color:red' } *
      ) sont obligatoires.
    %p
      %span{ :style => 'color:red' } *
      = f.label :name, 'nom:'
      %br
      = f.text_field :name
    %p
      %span{ :style => 'color:red' } *
      = f.label :email, 'email:'
      (utilisé pour gravatar, ne sera pas affiché)
      %br
      = f.text_field :email
    %p
      = f.label :url, 'URL:'
      %br
      = f.text_field :url, :value => 'http://'
    %p
      %span{ :style => 'color:red' } *
      = f.label :body, 'commentaire:'
      %br
      Tu peux utiliser la syntaxe
      %a{ :href => 'http://daringfireball.net/projects/markdown/syntax' } Markdown.
      = f.text_area :body
    %p#js-preview{ :style => 'display:none;' }
      = label :option, :preview, 'prévisualiser'
      %br
      = check_box :option, :preview
    %p
      = label :option, :captcha, 'écris quarante-deux (en chiffres)'
      (anti spam bot)
      %br
      = text_field :option, :captcha
    %p
      = f.submit 'Envoyer'
      = image_tag '/images/theme/spinner.gif', :id => 'spinner', :style => 'display:none' # FIXME unused.

%script{ :type => 'text/javascript' }
  \//<![CDATA[
  window.onload = js_preview_show;
  function js_preview_show() { $("js-preview").style.display = "block"; }
  \//]]>
