!!!
%html{ :xmlns => 'http://www.w3.org/1999/xhtml' }

  %head
    %meta{ :content => 'text/html; charset=UTF-8', 'http-equiv' => 'Content-Type' }
    %title
      =h GeeweeConfig.entry.blogtitle
      =h ": #{html_title}" if html_title

    = stylesheet_link_tag 'application'
    = javascript_include_tag :all
    = auto_discovery_link_tag :atom, posts_path(:atom)
    = yield :head

  %body
    #container
      <!-- start header -->
      #header
        %h1= link_to h(GeeweeConfig.entry.blogtitle), root_url
        - unless GeeweeConfig.entry.blogsubtitle.blank?
          %h2=h GeeweeConfig.entry.blogsubtitle
      <!-- end header -->

      <!-- start body -->
      #page
        #content
          = yield

        <!-- start sidebar -->
        #sidebar
          <!-- Atom feed link -->
          %p
            = image_tag '/images/feed-icon16x16.png'
            = link_to t('menu.atom_subscribe'), posts_path(:atom)

          <!-- static Pages -->
          %h3= link_to t('menu.pages'), pages_path
          %ul
            - Page.all.each do |page|
              %li= link_to h(page.title), page

          <!-- archives by Author -->
          %h3= link_to t('menu.authors'), archives_by_author_path
          %ul
            - Author.find(:all).each do |author|
              %li
                = link_to h(author.name), archives_by_author_path(author)
                %em= "(#{author.posts.published.count})"
          <!-- archives by Category -->
          %h3= link_to t('menu.categories'), archives_by_category_path
          %ul
            - Category.all.sort_by { |c| -(c.posts.published.count) }.each do |category|
              %li
                = link_to h(category.display_name), archives_by_category_path(category)
                %em= "(#{category.posts.published.count})"
          <!-- archives by Tag -->
          %h3= link_to t('menu.tags_cloud'), archives_by_tag_path
          %p#tag-cloud{ :style => 'overflow:hidden' }
            - tag_cloud Post.tag_counts, ([].tap { |ary| 1.upto(12) { |i| ary << "tag#{i}" } }) do |tag, css_class|
              = link_to h(tag.name), archives_by_tag_path(tag.name), :class => css_class

          <!-- archives by month and year -->
          %h3= link_to t('menu.archives'), :controller => :archives, :action => :by_month
          %ul
            - Post.published.group_by(&:month_of_the_year).each do |month, posts|
              %li
                - d = posts.first.published_at
                = link_to h(month), archives_by_month_path(d.year, d.month)
                %em= "(#{posts.size})"
        %br{ :style => 'clear:both' }
      <!-- end sidebar -->
      <!-- end body -->

      <!-- start footer -->
      #footer
        %hr
        %p
          = link_to h(GeeweeConfig.entry.try(:blogtitle)), root_url
        %ul
          %li
            = t('footer.powered_by')
            %a{ :href => 'http://hg.kaworu.ch/rails-geewee' } geewee
            \/ #{t 'footer.design'}:
            %a{ :href => 'http://quotedprintable.com/pages/scribbish' } scribbish
      <!-- end footer -->
