!!!
%html{ :xmlns => 'http://www.w3.org/1999/xhtml' }

  %head
    %meta{ :content => 'text/html; charset=UTF-8', 'http-equiv' => 'Content-Type' }
    %title
      TODO fork while fork:
      =h '@post.title TODO'

    = stylesheet_link_tag 'application'
    = javascript_include_tag :all
    = auto_discovery_link_tag :atom, posts_path(:atom)
    = yield :head

  %body
    #container
      <!-- start header -->
      #header
        %h1
          %span= link_to 'fork while fork', posts_path
        %h2 :(){:|:&nbsp;};:
      <!-- end header -->

      <!-- start body -->
      #page
        #content
          = yield

        <!-- start sidebar -->
        #sidebar
          <!-- Atom feed link -->
          %p
            = image_tag '/images/feed-icon16x16.png'
            = link_to 'Abonne toi à mon beau flux Atom', posts_path(:atom)

          <!-- static Pages -->
          %h3 Pages
          %ul
            - Page.all.each do |page|
              %li= link_to h(page.title), page

          <!-- archives by Author -->
          %h3= link_to 'Auteurs', archives_by_author_url
          %ul
            - Author.find(:all).each do |author|
              %li
                = link_to h(author.name), archives_by_author_url(author)
                %em= "(#{author.posts.published.count})"
          <!-- archives by Category -->
          %h3= link_to 'Catégories', archives_by_category_url
          %ul
            - Category.all.each do |category|
              %li
                = link_to h(category.display_name), archives_by_category_url(category)
                %em= "(#{category.posts.published.count})"
          <!-- archives by Tag -->
          %h3= link_to 'Mots-clefs', archives_by_tag_url
          %ul
            %li
              - Tag.all.each do |tag|
                = link_to h(tag.display_name), archives_by_tag_url(tag),                  |
                  :style => "font-size: #{6 + tag.posts.published.count}pt; text-decoration: none;" |
          <!-- archives by month and year -->
          %h3= link_to 'Archives', archives_by_month_and_year_url
          %ul
            - Post.all.group_by(&:month_and_year).each do |month, posts|
              %li
                = link_to h(month), archives_by_month_and_year_url(posts.first.created_at)
                %em= "(#{posts.size})"
        %br{ :style => 'clear:both' }
      <!-- end sidebar -->
      <!-- end body -->

      <!-- start footer -->
      #footer
        %hr
          %p
            = link_to 'fork while fork', posts_path
          %ul
            %li
              Propulsé par:
              %a{ :href => 'http://hg.kaworu.ch/rails-geewee' } geewee
              \/ Design:
              %a{ :href => 'http://quotedprintable.com/pages/scribbish' } scribbish
      <!-- end footer -->
