!!!
%html{ :xmlns => 'http://www.w3.org/1999/xhtml' }
  %head
    %meta{ :name => 'author', :content => 'kAworu' }
    %meta{ :content => 'text/html; charset=UTF-8', 'http-equiv' => 'Content-Type' }
    %title
      fork while fork:
      =h '@post.title TODO'

    = stylesheet_link_tag 'application'
    = javascript_include_tag :all
    = auto_discovery_link_tag :atom, posts_path(:atom)
    = yield :head

  %body
    #container
      <!-- start header -->
      #header
        %h1
          %span= link_to 'fork while fork', posts_path
        %h2 :(){:|:&nbsp;};:
      <!-- end header -->

      <!-- start body -->
      #page
        #content
          = yield
        #sidebar
          %p
            = image_tag '/images/feed-icon16x16.png'
            = link_to 'Abonne toi à mon beau flux Atom', posts_path(:atom)
          %h3 Pages
          %ul
            - Page.find(:all).each do |page|
              %li= link_to h(page.title), page
          %h3= link_to 'Auteurs', :controller => :archives, :action => :by_author
          %ul
            - Author.find(:all).each do |author|
              %li
                = link_to h(author.name), archives_url(author)
                %em= "(#{author.posts.count})"
          %h3= link_to 'Catégories', :controller => :archives, :action => :by_category
          %ul
            - Category.find(:all).each do |category|
              %li
                = link_to h(category.display_name), archives_url(category)
                %em= "(#{category.posts.count})"
          %h3= link_to 'Mots-clefs', :controller => :archives, :action => :by_tag
          %ul
            %li
              - Tag.find(:all).each do |tag|
                = link_to h(tag.display_name), archives_url(tag), :style => "font-size: #{6 + tag.posts.count}pt; text-decoration: none;"
          %h3= link_to 'Archives', :controller => :archives, :action => :by_month_and_year
          %ul
            - ps = Post.find(:all, :select => :created_at).group_by(&:month_and_year)
            - ps.keys.each do |month|
              %li
                - d = ps[month].first.created_at
                = link_to h(month), :controller => :archives, :action => :by_month_and_year, :year => d.year, :month => d.month
                %em= "(#{ps[month].size})"
        %br{ :style => 'clear:both' }
      <!-- end body -->

      <!-- start footer -->
      #footer
        %hr
          %p
            = link_to 'fork while fork', posts_path
          %ul
            %li
              Propulsé par:
              %a{ :href => 'http://hg.kaworu.ch/rails-rgolb' } Rgolb
              \/ Design:
              %a{ :href => 'http://quotedprintable.com/pages/scribbish' } scribbish
      <!-- end footer -->
